.mainPage {
    background-color: #d0e683;
}

.container {
    width: 975px;
    margin: 0 auto;
}

.MainPage nav {
    display: flex;
    justify-content: space-between;
}

.mainPage nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.mainPage nav ul li {
    margin-right: 10px;
}
.mainBlock {
    display: flex;
    justify-content: space-between;
}
.pic {
    width: 300px;
}